	:root {
		/* Custom Colors go here */
		--backgroundPink: #220000;
		--glowPinkDarker: #D56FCB;
		--glowOrange: #FCC120;
		--glowOrangeBrighter: #FFD730;
		--postBgPink: #000000;
		--bgColor: #180000;
	}
	
	/* Main */
	html {
  		background-color: #180000;
	}
	
	.site
	{
  		/*background: url('../images/bg.jpg');
        background-position:top;
		background-repeat: no-repeat;
		min-height: 669px;
		color: white;*/
	}
	
	@font-face {
		font-family: DoodleSans32;
		src: url(DoodleSans32.woff) format('woff'),
			 url(DoodleSans32.ttf) format('truetype');
		font-weight: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: DoodleSans;
		src: url(Doodle_Sans.ttf) format('truetype');
		font-weight: normal;
		font-display: swap;
	}
	
	/* Hotbar */
	
	h1 
	{
		font-family: DoodleSans;
		font-size: 400%;
		margin-bottom: 0%;
		margin-top: 0%;
		color: white;
	}
	
	.menu {
		z-index: 255;
		font-family: DoodleSans32;
		width: 100%;
		background-color: var(--backgroundPink);
		text-align: center;
		overflow-x: auto;
		overflow-y: hidden;
        padding:0;
		position: sticky;
		top: 0;
		height: auto; 
		display: block;
		padding: 0.5% 0;
		box-shadow: 0 0px 3px var(--postBgPink);
	}
	
	.divider {
		border-left: 2px solid;
		height: 100%;
		border-left-color: var(--bgColor);
	}

    .hotbar_selector
    {
		font-family: DoodleSans32;
		text-align: center;
		
        color: var(--glowOrangeBrighter);
        text-shadow: 0 0 2px var(--glowOrange);
        text-decoration: none;
		padding: 1px 1px 1px 1px;
		margin: 5px 5px 2px 5px;
        transition: color 0.2s, text-shadow 0.2s, background-color 0.2s;
    }
    
    .hotbar_selector:hover
    {
        text-shadow: 0 0 8px var(--glowOrange);
        transition: color 0.2s, text-shadow 0.2s, background-color 0.2s;
    }
	
	table {
		margin-right: auto;
		margin-left: auto;
	}
	
	@media screen and (orientation: portrait) and (max-width: 480px) {
		th
		{
			font-size: 150%;
		}
	}

	@media screen and (orientation: landscape) {
		th
		{
			font-size: 150%;
		}
	}

	@media screen and (min-width: 480px) {
		th
		{
			font-size: 200%;
		}
	}
	
    .menu_horizontal {
		font-family: DoodleSans32;
		background-color: var(--backgroundPink);
		text-align: center;
		overflow-x: auto;
		overflow-y: hidden;
        padding:0;
		text-align: center;
		font-size: 300%;
		padding: 0.5% 0;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	}
	
	
	/* Main Page */
	
	a {
		color: white;
	}
	
	/* Banner */
	.banner {
		overflow: hidden;
  		background: url('../images/banner.jpg'), #000000;
		margin:0;
		background-repeat: no-repeat; 
        background-position:top;
		height: 216px;
	
	}
	
	.dust {
		background: url("../images/websiteBannerBack.webp");
		height: 432px;
		animation: slide 300s linear infinite;
		background-attachment: fixed;
		margin:0;
		background-repeat: repeat;
        background-position:top;
	}
 
	@keyframes slide{
		0%{
			background-position: 1920px -432px;
		}
		100%{
			background-position: -1920px 432px;
		}
	}
	
	.dustFront {
		background: url("../images/websiteBannerFront.webp");
		height: 432px;
		animation: slideSlow 150s linear infinite;
		background-attachment: fixed;
		margin:0;
		background-repeat: repeat;
        background-position:top;
	}
 
	@keyframes slideSlow{
		0%{
			background-position: 1920px -432px;
		}
		100%{
			background-position: -1920px 432px;
		}
	}
	
	.bannerText {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		min-width: 10%;
	}
	
	.post {
		margin-bottom: 10px;
		
		box-shadow:0px 0px 2px var(--postBgPink);
		
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10%;
		padding-right: 10%;
		
		background-color: var(--backgroundPink);
		text-align: left;
		
		color: white;
		font-family: Arial;
		max-width: 30rem;
		margin: auto;
	}
	
	.perfectCenter {
		padding-left: 0%;
		padding-right: 0%;
		text-align: center;
	}
	
	.postTable {
		text-align: center;
		background-position: center;
		background-size: 100% auto;
		background-color: var(--backgroundPink);
		font-family: Arial;
		font-weight: normal;
		text-shadow: 1px 1px var(--backgroundPink),
		-1px 1px var(--backgroundPink),
		1px -1px var(--backgroundPink),
		-1px -1px var(--backgroundPink);
		box-shadow: 0 0px 4px rgba(0, 0, 0, 100);
        transition: background-size 0.2s;
		height: 100%;
		position: relative;
		.links, h1 {
			font-family: DoodleSans32;
			font-size: 3em;
			margin: 0;
			padding: 0.5em;
		}
	}
	
	.postTable:hover {
		background-size: 110% auto;
        transition: background-size 0.2s;
	}
	
	.postTableOrg {
		display: flex;
		list-style: none;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		li {
			margin: 0.2rem;
		}
	}
	
	.clickableArea {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.description {
		float: top;
		position: absolute;
		z-index: 10;
	}
	
	.postButton {
		margin-bottom: 10px;
        margin-left: 1%;
		border:0px solid var(--glowPinkDarker);
		box-shadow: 0px 0px 3px var(--postBgPink);
		
		padding-top: 5px;
		padding-bottom: 5px;
		
		background-color: var(--backgroundPink);
		text-align: center;
		
		color: white;
		font-family: DoodleSans32;
        transition: color 0.2s, text-shadow 0.2s, background-color 0.2s;
	}

	
	.postButton:hover {		
        text-shadow: 0 0 6px white;
        transition: color 0.2s, text-shadow 0.2s, background-color 0.2s;
	}
	
	
	.date
	{
        margin-left: 10px;
		margin-bottom: 10px;
		font-family: DoodleSans32;
		font-size: 200%;
		border:0px solid #d17630;
		box-shadow: 0px 0px 3px var(--postBgPink);
		
		padding-top: 3px;
		padding-right: 3px;
		padding-bottom: 3px;
		padding-left: 3px;
		background-color: var(--backgroundPink);
		color: white;
	}
	
	.transparentBG {
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
        transition: background-color 0.2s;
	}
	
	.transparentBG:hover {
		background-color: rgba(0,0,0,0);
		width: 100%;
        transition: background-color 0.2s;
	}
	
	.bottomOfDiv {
		text-align: left;
		/* TODO */
	}
	
	.center 
	{
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex:direction: column;
		font-size: 300%;
		font-family: DoodleSans32;
	}
	
	.postNbmr
	{
		text-align: left;
		box-shadow: 0px 0px 3px var(--postBgPink);
		padding-top: 3px;
		padding-right: 3px;
		padding-bottom: 3px;
		padding-left: 3px;
		float: left;
	}
	
	
	/* Games Page */
	.platformIcon {
		width: 3rem;
		padding: 0.5rem;
		-webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,1));
	} 

	/* Thumbnail */
	.thumbnail {
		width: 100%;
		max-width: 200px;
	}

	/* Image */
	.image
    {
		margin-left: 10%;
		margin-right: 10%;
		min-width: 200px;
		max-width: 50%;
		box-shadow: 0px 0px 3px var(--postBgPink),
		width: 100%;
	}
	
	/* Price Page */
	button 
	{
		font-size: 100%;
	}
	
	/* Comic Pages */
	.comic	
	{
		border:10px solid black;
		max-width: 100%;
	}

	
	/* Music Pages */
	.musicThumb	
	{
		width: 128px;
		height: 128px;
	}
	
	.audioTab
	{
		width: 100%;
		background-position: center;
		background-size: 100% auto;
		background-color: var(--backgroundPink);
		font-family: Arial;
		font-size: 75%;
		font-weight: normal;
		text-shadow: 1px 1px var(--backgroundPink),
		-1px 1px var(--backgroundPink),
		1px -1px var(--backgroundPink),
		-1px -1px var(--backgroundPink);
		box-shadow: 0 0px 4px rgba(0, 0, 0, 100);
        transition: background-size 0.2s;
		position: relative;
	}