body {
	background-color: black;
}

/* ----- Misc ----- */
.footer {
	background-color: white;
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	font-size: 20px;
	font-weight: bold;
}

.version {
	background-color: white;
	width: 200px;
	text-align: center;
}

/* ----- Banner ----- */
.banner {
	height: 50px;
	background-color: grey;
}

/* logo */
.logo {
	width: 200px;
	float: left;
	background-image: url('../images/logo.png');
	height: 100%;
}

/* search */
.search {
	min-width: 50%;	
	max-width: 40%;
	height: 100%;
	float: left;
	background-color: white;
	line-height: 50px;
	padding-left: 10px;
	color: grey;
}

/* account */
.account {
	width: 50px;
	height: 100%;
	float: right;
	background-image: url('../images/defaultAccount.png');
	height: 100%;
	border-radius: 50px;
}

/* upload */
.upload {
	float: right;
	width: 10%;
	height: 100%;
	background-color: white;
	text-align: center;
	line-height: 50px;
	margin-right: 10px;
}