body {
	background-color: black;
}


/* ----- Banner ----- */
.banner {
	height: 50px;
	background-color: grey;
}

/* logo */
.logo {
	width: 200px;
	float: left;
	background-image: url('../images/logo.png');
	height: 100%;
}

/* search */
.search {
	min-width: 50%;	
	max-width: 40%;
	height: 100%;
	float: left;
	background-color: white;
}

/* account */
.account {
	width: 50px;
	height: 100%;
	float: right;
	background-image: url('../images/defaultAccount.png');
	height: 100%;
	border-radius: 50px;
}

/* upload */
.upload {
	float: right;
	width: 10%;
	height: 100%;
}