	.main
	{
		float: none;
		clear: both;
	}
	
	.highlight
	{
		color: #FFFFFF;
	}

	.site
    {
		background-image: url("https://i.imgur.com/gtFxg10.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    }
    
    .body {
		background-image: url("https://i.imgur.com/gtFxg10.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
    
    .maker
    {
		background-color: #000000;
		height: 80px;
		text-align: center;
		font-size: 50px;
		font-family: Arial;
        text-shadow: 0px 0px 0px 10 #e677de;
		
    }  
	
	.menu {
		width: 100%;
		background-color: #3f3845;
		text-align: justify;
		overflow-x: auto;
		overflow-y: hidden;
        padding:0;
		font-size: 200%;
	}
	
	.menu:hover {
		width: 100%;
		background-color: #685d70;
		text-align: justify;
		overflow-x: auto;
		overflow-y: hidden;
        padding:0;
		font-size: 200%;
	}
		
	}
    
    .titlecolor
    {
      text-shadow: 0px 0px 10px;
      font-weight: bolder;
      font-family: Arial;
      color: #eb5bff;
      font-size: 50px;
      text-decoration: none;  
    }
    
    .welcome
    {
        text-decoration: none;
        color: #7289DA;
        text-shadow: 0px 0px 5px #345E10;
    }
    
    .image
    {
        margin-left: 20px;
		width: 40%;
		border:3px solid #d17630;
		border-radius: 8px;
		box-shadow: 5px 5px 0 #6e3921,
		4px 4px 0 #6e3921,
		3px 3px 0 #6e3921,
		2px 2px 0 #6e3921,
		1px 1px 0 #6e3921,
		0px 0px 0 #6e3921;
    }
    
    .title
    {
        font-size: 30px;
        font-weight: bolder;
        font-family: Courier;
        margin-left: auto;
    }
    
	.content
	{
		height: 100%;
		position:relative;		
	}
    
    .owner
    {
        font-size: small;
        font-weight: bold;
        color: red;
        text-align: center;
    }
    
    .bottom 
    {
      background-color: #2C2F33;
      text-align: center;
      width: 100%;
	  color: #7289DA;
    }
    
    .current
    {
        color: #38680E;
        text-shadow: 0px 0px 10px;
        text-decoration: none;
    }
    
    .company
    {
        color: #5D9F23;
        text-shadow: 0px 0px 10px;
        text-decoration: none;
    }
    
    .tab
    {
        color: #5D9F23;
        text-shadow: 0px 0px 10px;
        font-weight: bolder;
        table-layout: auto;
        margin: auto;
        width: 50%;
        text-align: center;
        height: 30%;
        font-size: 20pt;
        font-family: Courier;  
    }
	
	@font-face {
		font-family: DoodleSans;
		src: url(Designs/Doodle_Sans.woff);
	}
	
	.text
	{
		font-family: Arial;
		margin-left: 5%;
		color: black;
        text-shadow: 0px 0px 0px 5 #000000;
	}